@{
    ViewData["Title"] = "Questionnaire Result";
}

@model List<Savings>

<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>Grants Available</p> </div>
    </div>
</div>

<div class="container">

<h2 class="questionnaire-heading">You <span class="bold">may</span> be eligible for the following government grants. Use the provided links for more information.</h2>

<div class="questionnaire-result-container">
    @foreach (var saving in Model)
    {
        <div class="accordion-container">
            <div class="questionnaire-accordion-head">
                <div class="questionnaire-accordion-head-content">
                    <div class="questionnaire-accordion-head-text">
                        <h4>@saving.Title</h4>
                        <p class="questionnaire-accordion-head-text-description">@saving.Description</p>
                    </div>
                    <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                </div>
            </div>
            <div class="questionnaire-accordion-tail accordion-close">
                <div class="questionnaire-accordion-tail-content">
                    <div class="questionnaire-accordion-tail-content-top">
                        <p><strong>Method: </strong>@saving.Method</p>
                        <p><strong>Duration: </strong>@saving.Duration</p>
                    </div>
                    <div class="questionnaire-accordion-tail-content-bottom">
                        <div class="questionnaire-accordion-tail-content-bottom-left">
                            <strong>Eligibility requirements:</strong>
                            <div>@Html.Raw(@saving.EligibilityRequirements)</div>
                        </div>
                        <div class="questionnaire-results-button-container">
                            <a href=@saving.CtaUrl class="questionnaire-results-button" target="_blank">
                                Learn more
                                <svg class="questionnaire-results-button-icon" viewBox="0 0 18 18" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M3.75 3.75V14.25H14.25V9H15.75V14.25C15.75 15.075 15.075 15.75 14.25 
                                        15.75H3.75C2.9175 15.75 2.25 15.075 2.25 14.25V3.75C2.25 2.925 2.9175 
                                        2.25 3.75 2.25H9V3.75H3.75ZM10.5 3.75V2.25H15.75V7.5H14.25V4.8075L6.8775 
                                        12.18L5.82 11.1225L13.1925 3.75H10.5Z" fill="white">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<p style="font-size: 12px">
    Note: Your eligibility for these grants is subject to decisions made by the 
    Victorian government. The information on this website is for 
    <span class="bold">informational purposes only</span> 
    and does not ensure entitlement to any government programs.
</p>

</div>

<div class="action-container" style="margin-top: 60px">
    <br />
    <h2 style="color: #4a6f70"><strong>Want to know more about your household's carbon footprint?</strong></h2>
    <br />
    <h4 style="margin:auto; text-align:center; max-width: 800px; font-size: 24px;">
        Enter data about your energy usage to determine your carbon footprint.
    </h4>
    <br />
    <br />
    <div style="display:flex; flex-direction:column; align-items:center;">
        <a class="action-button btn btn-primary" href="/CarbonCalculator" draggable="false">
            Calculate your footprint now »
        </a>
    </div>
    <br />
</div>
